<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Manager</title>
    <link rel="stylesheet" href="/css/landingPage.css">
</head>

<body>
    <nav>
        <div class="logo">Money Manager</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="#about">About Us</a>
            <a href="#services">Services</a>
        </div>
        <button class="blueButton"> <a  class="sign-up" href="/auth">Sign Up</a> </button>
    </nav>
    <section class="hero">
        <h1>Elevate Your<br>Experience with<br>Money Manager</h1>
        <p>  
            Simplify your money management with AI-powered precision. Our platform transforms how you track expenses, 
            manage budgets, and achieve financial goals—effortlessly. Experience intuitive tools designed to give you 
            control, clarity, and confidence in every financial decision.
        </p>
        <button class="blueButton">Get Started</button>
    </section>
</body>

</html>